package $package

#set ($schemaObject = "#camel($root.name)Schema")

#foreach($property in $root.properties)
fun ${databaseObject}.${property.name}(): #propertyType($property) {

}
#end

#foreach($child in $root.children)
fun
#end