package $package

import kotlinx.datetime.*
import com.republicate.skorm.*
import com.republicate.kson.Json


// runtime model attributes declaration for client
fun ${package}.${resolved.databaseClass}.initRuntimeModel() {
#foreach ($attr in $resolved.attributes)

    // attribute $attr.qualifiedName
    ${resolved.databaseClass}.${attr.schema}${attr.registrationPath}.${attr.clientRegistration}("$attr.name", setOf(#names($attr.params))#if($attr.factory), ${attr.factory}#end)
#end
}
