package $package

import kotlinx.datetime.*
import com.republicate.kson.Json
## bring nested generated enum classes into scope so they can type attribute arguments
#foreach($schema in $resolved.schemas)
#foreach($enum in $schema.enums)
import ${package}.${resolved.databaseClass}.${schema.className}.${enum.name}
#end
#end


#foreach($attr in $resolved.attributes)
#if($attr.composite)
open class ${attr.composite.className}(): ${attr.composite.parentClass}() {
#foreach($field in $attr.composite.fields)
    val ${field.identifier}: ${field.type}#if($field.nullable)?#end
        get() = get${field.type}("${field.name}")#if(!$field.nullable)!!#end
#end
}
#end


// attribute $attr.qualifiedName
suspend fun ${attr.receiverClass}.`${attr.name}`(#typedArguments($attr.arguments)) = ${attr.verb}${attr.generics}("$attr.name"#if($attr.arguments), #if($attr.arguments.size() > 1)#namedValues($attr.arguments)#else#values($attr.arguments)#end#end)$attr.cast

#end
