package $package

import com.republicate.skorm.*
#if(!$resolved.attributes.isEmpty())
import kotlinx.datetime.*
import com.republicate.kson.Json
#end


// attribute registrations for client, called from initialize(): the read-only database's, then the mutable one's when it exists
internal #if($multiplatform)actual #{end}fun ${resolved.databaseClass}.registerAttributes() {
#foreach ($half in $resolved.halves)
#if($half.mutable)
    if (!${half.databaseClass}.isInstantiated()) return
#end
#foreach ($join in $half.joins)
    // $join.label attribute
    ${half.databaseClass}.${join.ownerSchema}.entity("$join.ownerEntity").instanceAttributes.${join.registration}<$join.targetClass>("$join.name", setOf(#names($join.params)), $join.targetClass)
#end
#foreach ($attr in $half.attributes)

    // attribute $attr.qualifiedName
    ${half.databaseClass}.${attr.schema}${attr.registrationPath}.${attr.clientRegistration}("$attr.name", setOf(#names($attr.params))#if($attr.factory), ${attr.factory}#end)
#end
#end
}
