package $package

import kotlinx.datetime.*
import com.republicate.skorm.core.*
import com.republicate.kson.Json


// runtime model attributes declaration for core
fun ${package}.${resolved.databaseClass}.initRuntimeModel() {
#foreach ($attr in $resolved.attributes)

    // attribute $attr.qualifiedName
    ${resolved.databaseClass}.${attr.schema}${attr.registrationPath}.${attr.coreRegistration}("$attr.name", """
        $attr.sql""".trimIndent()#if($attr.factory), ${attr.factory}#{end})

#end
}
