package $package

import com.republicate.skorm.core.*


// attributes declaration for core
fun ${resolved.databaseClass}.initJoins() {
#foreach ($join in $resolved.joins)
   // $join.label attribute
   ${resolved.databaseClass}.${join.ownerSchema}.entity("$join.ownerEntity").instanceAttributes.${join.registration}<$join.targetClass>("$join.name", "$join.sql", $join.targetClass)
#end
}
