package $package

import com.republicate.skorm.*


// join attributes declaration for client
fun ${resolved.databaseClass}.initJoins() {
#foreach ($join in $resolved.joins)
    // $join.label attribute
    ${join.ownerSchema}.entity("$join.ownerEntity").instanceAttributes.${join.registration}<$join.targetClass>("$join.name", setOf(#names($join.params)), $join.targetClass)
#end
}
